{% extends 'base.html' %}

{% block title %}Загрузка поста{% endblock %}

{% block page_title %}Загрузка нового поста{% endblock %}

{% block content %}
    <div class="body-wrap">
        <div class="form-wrap">
                    <form action="/post/" method="POST" enctype="multipart/form-data">
        <p>Картинка к посту</p>
        <div>
            <input type="file" name="picture" required>
        </div>
        <p>Текст к посту</p>
        <div>
            <textarea name="content" rows="5" required></textarea>
        </div>

        <div>
            <input type="submit" value="Добавить" class="btn">
        </div>
    </form>
        </div>
    </div>
{% endblock %}
